.form-account {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label-account {
  display: flex;
  flex-direction: column;
  position: relative;

  color: var(--gray800);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.input-account {
  margin-top: 16px;
  padding: 16px 24px;

  border: 1px solid #3182f600;
  border-radius: 12px;

  color: var(--gray800);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  background-color: var(--gray100);
}

.input-account:focus {
  outline: none;
  border: 1px solid var(--blue);
}

.input-account::placeholder {
  color: var(--gray300);
}

.password {
  padding-right: 52px;
}

.error {
  border: 1px solid #f74747;
}

.msg-error {
  display: none;
  color: #f74747;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 2rem;
  padding: 0 1.5rem;
}

.btn-submit {
  width: 100%;
  padding: 1rem 0;
  border-radius: 2.5rem;
  border: none;
  text-align: center;
  color: var(--gray100);
  font-size: 1.25rem;
  font-weight: 600;
  background-color: var(--blue);

  cursor: pointer;
}

.btn-submit:disabled {
  background-color: var(--gray300);
}

.btn-visibility-on {
  width: 1.5rem;
  height: 1.5rem;

  background-image: url("/images/icon_visibility_on.png");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  outline: none;

  position: absolute;
  right: 1.5rem;
  top: 3.7rem;
  /* top: calc(1.375rem + 50%); */
  /* transform: translateY(-50%); */
}
