/*auth layout style*/
.auth-section {
   margin: 231px auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 640px;
   height: auto;
}

/*auth__form sytle*/
.auth__form {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.auth__logo{
   width: 396px;
   height: 132px;
   margin-bottom: 32px;
}

.auth__label {
   display: block;
   align-self: flex-start;
   font-size: 1.8rem;
   font-weight: 700;
   color: var(--gray800);
}

.auth-container {
   margin-bottom: 24px;
}

.auth-container__password, .auth-container__password-confirm {
   position: relative;
}

.auth__input {
   width: 100%;
   height: 56px;
   margin-top: 16px;
   margin-bottom: 8px;
   padding: 14px 24px;
   background-color: var(--gray100);
   border-radius: 12px;
   font-size: 1.6rem;
   font-weight: 400;
}

.auth__button-layout {
   width: 100%;
   height: 56px;
   margin-bottom: 24px;
   border-radius: 40px;
   font-size: 2rem;
}

.auth__password-toggle {
   position: absolute;
   display: inline;
   background-image: url('/images/icon/ic_visibility_off.svg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 24px;
   height: 24px;
   top: 42%;
   right: 5%;
}

.auth__password-toggle--confirm {
   background-image: url('/images/icon/ic_visibility_on.svg');
}

/*auth__sns style*/
.auth__sns {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 74px;
   padding: 16px 23px;
   margin-bottom: 24px;
   background-color: var(--light-blue);
   border-radius: 12px;
}

.auth__sns-title {
   font-size: 1.6rem;
   font-weight: 500;
   color: var(--gray800);
}

.auth__sns-list {
   display: flex;
   gap: 16px;
}

.auth__sns-icon {
   width: 42px;
   height: 42px;
}

/*auth__other style*/
.auth__other-page {
   text-align: center;
   font-size: 1.4rem;
   font-weight: 500;
   color: var(--gray800);
}

.auth__other-link {
   font-size: 1.4rem;
   text-decoration: underline;
   color: var(--blue);
}