* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
}

body {
  color: #374151;
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0px 200px;
  border-bottom: 1px solid #dfdfdf;
}

#mainLoginBtn {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 23px;
  border-radius: 8px;
}

.button {
  background-color: #3692ff;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#topBanner {
  background-image: url("/images/home/Img_home_top.png") !important;
}

footer {
  background-color: #111827;
  color: #9ca3af;
  padding: 32px 200px 108px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.productInfo {
  padding: 138px 0px;
  display: flex;
  align-items: center;
  gap: 63px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.bannerImage {
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  align-items: center;
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 80% bottom;
}

#bottomBanner {
  background-image: url("/images/home/Img_home_bottom.png");
}

#footerMeun {
  display: flex;
  gap: 30px;
  color: #e5e7eb;
}

#social {
  display: flex;
  gap: 12px;
}
