@import "/css/common.css";

@media (max-width: 1920px) {
    p{
        white-space: nowrap;
    }
}
@media (max-width: 1920px) {
    header{
        padding: 0 200px;
    }
    footer .text{
        padding:0 200px;
    }
}
@media (min-width: 1920px) {
    header{
        width: 1920px;
        margin: 0 auto;
    }
}
.pandalogo, button,.footer-nav span, .icon li, .quicklogin img{
    cursor: pointer;
}
section img{
    width: 579px;
}
.body-top img, .body-bottom img{
    width: 746px;
}

header{
    position: sticky;
    top:0;
    width:100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 400px;
}
.pandalogo{
    width:153px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pandaface{
    width:40px;
}
.pandamarket{
    width:103px;
}
header button{
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 600;
    width:128px;
    height:48px;
    margin: 11px 0;
    border-radius: 8px;
    background-color: #3692FF;
    color:#F3F4F6;
}

.body-top,.body-bottom{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:200px;
    background-color: #CFE5FF;
}
.body-top text{
    margin-bottom: 100px;
}
.body-top p,.body-bottom p{
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color:#374151
}
.body-top button{
    display:block;
    margin: 24px auto 60px;
    width:357px;
    height:56px;
    font-size: 20px;
    font-weight: 600;
    padding: 16px 124px;
    border-radius: 40px;
    background-color: #3692FF;
    color:#F9FAFB;
}
.body-bottom img{
    margin-left: 69px;
}

.section1, .section2, .section3{
    display: flex;
    justify-content: center;
}
.box{
    width:988px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:64px;
    margin:138px 0;
    border-radius: 12px;
    background-color: #FCFCFC;
}
.section.hot-item{
    display:block;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
    color:#3692FF;
}
.section.h2{
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color:#374151;
}
.section.p{
    margin-right:24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color:#374151;
}
.section2 .text{
    text-align: right;
}
.section2 .p{
    margin-right:0px;
    margin-left:24px;
}

footer{
    display:flex;
    justify-content: center;
    height: 160px;
    padding-top: 32px;
    background-color: #111827;
}
footer .text{
    flex-basis:1920px;
    display: flex;
    justify-content: space-between;
    padding:0 400px;
    top: 32px;
}

.footer-copyright{
    font-size: 16px;
    font-weight: 400;
    color:#9CA3AF;
}
.footer-nav{
    display:flex;
    gap: 30px;
}
.footer-nav span{
    font-size: 16px;
    font-weight: 400;
    color:#E5E7EB;
}
.icon{
    flex-shrink: 0;
    display:flex;
    height: 20px;
    gap: 12px;
}

/* tablet */
@media (min-width: 768px) and (max-width: 1200px) {
    header{
        padding: 0 24px;
    }
    .body-top{
        flex-direction: column;
        padding-top:84px;
    }
    .body-top .text{
        text-align: center;
        margin-bottom: 211px;
    }
    .body-top p br{
        display:none;
    }
    .body-top img{
        width:744px;
    }
    .box{
        flex-direction: column;
        align-items: stretch;
        gap:24px;
        padding:24px;
        margin:0;
        width:100%;
    }
    .box img{
        border-radius: 14.06px;
        width: auto;
    }
    .section.h1{
        margin-bottom:16px;
    }
    .section.h2{
        font-size: 32px;
        margin-bottom: 24px;
    }
    .section.h2 br{
        display:none;
    }
    .section.p{
        font-size: 18px;
        line-height: 26px;
    }
    .section2 .box{
        flex-direction: column-reverse;
    }
    .body-bottom{
        flex-direction: column;
        margin-top:56px;
    }
    .body-bottom img{
        margin:217px auto 0;
    }
    .body-bottom p{
        text-align: center;
    }
    footer .text{
        padding:0 104px;
    }
}
/* mobile */
@media  (max-width: 768px) {
    body{
        min-width: 375px;
    }
    header{
        padding: 0 16px;
    }
    .pandaface{
        display: none;
    }
    .body-top{
        flex-direction: column;
        padding-top:48px;
    }
    .body-top .text{
        text-align: center;
        margin-bottom: 132px;
    }
    .body-top p{
        font-size: 32px;
    }
    .body-top button{
        width:240px;
        padding: 12px 71px;
        font-size: 18px;
    }
    .body-top img{
        width:448px;
    }
    .section1{
        margin-top: 37px;
    }
    .box{
        flex-direction: column;
        align-items: stretch;
        gap:24px;
        padding:15px;
        margin:0;
        width:100%;
    }
    .box img{
        border-radius: 7px;
        width: auto;
    }
    .section.h1{
        margin-bottom:8px;
    }
    .section.h2{
        font-size: 24px;
        margin-bottom: 16px;
    }
    .section.h2 br{
        display: none;
    }
    .section.p{
        font-size: 16px;
        line-height: 26px;
    }
    .section2 .box{
        flex-direction: column-reverse;
    }
    .body-bottom{
        flex-direction: column;
        margin-top:83px;
        padding-top:121px;
    }
    .body-bottom img{
        margin:131px auto 0;
        width:375px;        
    }
    .body-bottom p{
        text-align: center;
        font-size: 32px;
    }
    footer{
        padding: 32px;
    }
    footer .text{
        display: flex;
        flex-wrap: wrap;
        gap:60px;
        padding:0;
    }
    .footer-copyright{
        order:1;
    }
}
