/* haeder 영역 */
.header {
  position: sticky;
  width: 100%;
  max-width: 1920px;
  min-height: 70px;
  padding: 9px 0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--white);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
}

.logo .logo-img {
  vertical-align: middle;
  width: 153px;
  height: auto;
}

.btn {
  background-color: var(--blue-100);
  color: var(--gray-100);
}

.btn-login {
  width: 128px;
  height: 48px;
  font-weight: 600;
  padding: 12px 23px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  line-height: 26px;
}

.btn-login:hover {
  background-color: var(--blue-200);
}

.btn-login:active {
  background-color: var(--blue-300);
}

/* main 영역 banner */
.banner {
  background-color: var(--blue-light);
  text-align: left;
  height: 540px;
  display: flex;
  align-items: center;
  background-position: 65% bottom;
  background-size: 40%;
  background-repeat: no-repeat;
}

#topBanner {
  background-image: url('/assets/img_home_top.png');
}

.banner-wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding-left: 24px;
}

.banner-title {
  padding: 0 24px;
}

.banner-title h2 {
  color: var(--gray-700);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  padding-bottom: 32px;
}


.banner-content {
  display: grid;
  width: 357px;
  height: 230px;
  margin-top: 40px;
  vertical-align: middle;
}

.banner-content h2 {
  color: var(--gray-700);
  height: 112px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.btn-items {
  background-color: var(--blue-100);
  width: 357px;
  height: 56px;
  padding: 16px 123px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
}

.btn-items:hover {
  background-color: var(--blue-200);
}

.btn-items:active {
  background-color: var(--blue-300);
}

/* 
  버튼을 비활성화할 경우, aria-disabled="true" 속성을 추가하여 스타일 적용 가능
  단, 현재 사용되지 않는 기능이므로 필요할 때만 적용할 것
*/
.btn-items[aria-disabled="true"] {
  background-color: var(--gray-400);
  cursor: not-allowed;
  pointer-events: none;
}

/* main 영역 content */
.main-content {
  display: flex;
  flex-direction: column;
  padding: 138px 0;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 138px;
}

.content-layout {
  height: 720px;
}

.content-item {
  display: flex;
  align-items: center;
  background-color: var(--gray);
  border-radius: 12px;
}

.content-item img {
  width: 579px;
  height: auto;
  padding-left: 20px;
}

.reverse {
  flex-direction: row-reverse;
  text-align: right;
}

.reverse img {
  padding-left: 0px;
  padding-right: 14px;
}

.content-text {
  display: flex;
  padding-left: 64px;
  padding-right: 23.5px;
  flex-direction: column;
  justify-content: space-between;
}

.content-text .badge {
  color: var(--blue-100);
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.content-text h2 {
  color: var(--gray-700);
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
}

.content-text .content-desc {
  color: var(--gray-700);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

/* main bottom */
.main-bottom {
  background-color: var(--blue-light);
}

#bottomBanner {
  background-image: url('/assets/img_home_bottom.png');
}

/* footer 영역 */
.footer {
  max-width: 1920px;
  height: 160px;
  background-color: var(--gray-900);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 36px 0 0 0;
  max-width: 1120px;
  align-items: center;
}

.footer-copyright {
  color: var(--gray-400);
}

.footer-links > ul {
  display: flex;
  gap: 30px;
}

.footer-links a {
  color: var(--gray-200);
}

.footer-social {
  display: flex;
  gap: 12px;
}

.footer-social img {
  width: 20px;
  height: auto;
}

@media (max-width: 1199px) {
  .header .nav {
    padding: 9px 16px;
  }

  .banner {
    padding: 0;
    display: block;
    height: 90vh;
    background-size: 120%;
    text-align: center;
  }

  .banner-wrap {
    display: block;
  }

  .banner-title {
    margin: 0;
  }

  .banner-title h2 {
    padding-top: 84px;
  }

  #topBanner h2 br {
    display: none;
  }

  .main-content {
    display: block;
    padding: 24px 24px 16px 24px;
  }

  .content-wrap {
    display: block;
    margin-bottom: 52px;
  }

  .content-item {
    display: block;
    background-color: var(--white);
  }

  .content-wrap img {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    height: auto;
  }

  .badge {
    margin-bottom: 12px;
  }

  .content-text {
    display: block;
    padding: 0;
  }

  .content-text h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .content-text h2 br {
    display: none;
  }

  .content-text .content-desc {
    font-size: 18px;
    line-height: 26px;
    margin-top: 20px;
  }

  .footer-container {
    padding: 0;
    gap: 63px;
  }

  .footer {
    padding: 32px 104px 108px 104px;
  }

}

@media (max-width: 767px) {
  .logo .logo-img {
    width: 103px;
    height: auto;
  }

  .banner {
    height: 60vh;
    background-size: 114%;
  }

  .banner-title h2 {
    font-size: 32px;
    line-height: 140%;
    padding-top: 48px;
    padding-bottom: 18px;
  }

  #topBanner h2 br {
    display: block;
  }

  .btn-items {
    width: 240px;
    font-size: 18px;
    font-weight: 600;
    padding: 11px 71px;
  }

  .main-content {
    padding: 52px 24px 16px 24px;
  }

  .badge {
    font-size: 16px;
  }

  .content-text h2 {
    font-size: 24px;
    line-height: 32px;
  }

  /* footer 영역 */
  .footer-container {
    background-color: #111827;
    padding: 32px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
  }

  .footer {
    padding: 0;
  }
  
  .footer-links {
    margin: 0;
  }

  .footer-copyright {
    order: 3;
    flex-basis: 100%;
  }
}