.removeIcon {
  background-color: transparent;
  background-image: url('@/assets/icons/close_x.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: transparent;
  }
}
