.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.labelText {
  font-size: 18px;
  font-weight: 700;
  line-height: 2.6rem;
}

.input,
.textarea {
  padding: 16px 24px 14px 24px;
  border-radius: 12px;
  background-color: var(--secondary-100);
  font-size: 16px;
  font-weight: 400;
  width: 100%;

  &:focus {
    outline: none;
    border-color: var(--secondary-800);
    box-shadow: 0 0 0 2px var(--focus-ring);
  }
}

.validationErrorMessage {
  color: var(--error);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  display: none;

  &.active {
    display: block;
    margin-top: -8px;
    padding: 0.8rem 1.6rem;
  }
}
