.itemsPage {
  margin: 0 auto;
  max-width: 80rem;
  padding: 24px 0;

  @media (max-width: 1919px) {
    max-width: 100%;
    padding: 24px 350px;
  }

  @media (max-width: 1199px) {
    padding: 24px 24px;
  }

  @media (max-width: 767px) {
    padding: 24px 16px;
  }
}
