.footer {
  height: 16rem;
  background-color: var(--secondary-900);
  color: var(--secondary-400);
  padding: 3.2rem 20rem;
  line-height: 1.9rem;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav {
  display: flex;
  gap: 3rem;
}

.footer__link {
  color: var(--secondary-200);
  text-decoration: none;
}

.footer__link:hover {
  color: var(--secondary-50);
}

.footer__sns {
  display: flex;
  gap: 1.2rem;
}

.footer__icon img {
  width: 2rem;
  height: 2rem;
}
