.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.info__container {
  height: 72rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__wrapper {
  width: 98.8rem;
  height: 44.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.4rem;
  background-color: #fcfcfc;
  border-radius: 1.2rem;
}

.info__category {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: var(--primary-100);
}

.info__wrapper--reverse {
  flex-direction: row-reverse;
  text-align: right;
}

.info__content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.info__image {
  width: 57.9rem;
  height: 44.4rem;
}

.info__title {
  color: var(--secondary-700);
  font-size: 4rem;
  line-height: 5.6rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-bottom: 1.2rem;
}

.info__description {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 500;
  color: var(--secondary-700);
}
