
.content {
  width: 640px;
  margin: 100px auto;
}

.head-img {
  text-align: center;
}

.pandaMarketImg {
  width: 396px;
  height: 132px;
}

.userName {
  background-color: #f3f4f6;
  width: 640px;
  height: 56px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  padding: 0 20px;
  font-weight: 400;
}

.userPassword {
  background-color: #f3f4f6;
  width: 640px;
  height: 56px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  padding: 0 20px;
  font-weight: 400;
}

.checkPassword {
  background-color: #f3f4f6;
  width: 640px;
  height: 56px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  padding: 0 20px;
  font-weight: 400;
}


.content-login {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.login-button {
  text-decoration: none;
  color: #F3F4F6;
  border: none;
  border-radius: 40px;
  background-color: #3692FF;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  width: 100%;
  cursor: pointer;
}

.blue-section {
  height: 74px;
  background-color: #e6f2ff;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 0 20px;
}

.simpleLogin {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  padding-top: 10px;
}

.social-links {
  display: flex;
  gap: 12px; 
  list-style: none;
}

.social-icon {
  width: 42px;
  height: 42px;
}

.foot-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.insa {
  font-size: 14px;
  font-weight: 500;
}

.membership {
  font-size: 14px;
  font-weight: 500;
  color: #3692FF;
}

.nicname {
  background-color: #f3f4f6;
  width: 640px;
  height: 56px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  padding: 0 20px;
  font-weight: 400;
}