.userForm_main {
	width: 640px;
	margin: 231px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.user_form_logo {
	width: 396px;
	height: 132px;
	margin-bottom: 40px;
}

.user_form {
	font-family: Pretendard;
	width: 100%;
}

.input_container {
	position: relative;
	margin: 16px 0 24px;
}

.input_wrap {
	position: relative;
}

.user_form label {
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
}

.user_form input {
	width: 100%;
	height: 56px;
	font-size: 16px;
	line-height: 26px;
	border: none;
	background-color: var(--gray100);
	padding: 16px 24px;
	border-radius: 12px;
}

.user_form .inputAlert {
	border: 1px solid #f74747;
}

.email_alert,
.password_alert,
.nickname_alert,
.pw_check_alert {
	display: none;
}

.visible_alert {
	display: block;
	color: #f74747;
	font-size: 14px;
	font-weight: 600;
	margin-top: 8px;
	padding-left: 16px;
}

.visible_button {
	width: 24px;
	height: 24px;
	position: absolute;
	z-index: 1;
	top: 50%;
	right: 24px;
	transform: translateY(-50%);
	padding: 0;
	border: none;
	cursor: pointer;
}

.visible_password {
	width: 100%;
}

.login_button,
.signup_button {
	width: 100%;
	height: 56px;
	border-radius: 9999px;
	border: none;
	margin-bottom: 24px;
	cursor: pointer;
	background-color: var(--gray400);
	transition: all 300ms ease;
}

.auth_button a {
	font-size: 20px;
	color: var(--gray100);
	line-height: 32px;
	font-weight: 600;
	font-family: Pretendard;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.btn_disable {
	background-color: var(--gray400);
}

.btn_active {
	background-color: var(--blue);
}

.simple_login {
	background-color: #e6f2ff;
	width: 100%;
	height: 74px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 23px;
	margin-bottom: 24px;
}

.simple_login span {
	font-family: Pretendard;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: var(--gray800);
}

.simple_login_list li {
	display: inline-block;
	width: 42px;
	height: 42px;
}

.simple_login_list li img {
	width: 100%;
}

.signup_link,
.login_link {
	text-decoration: underline;
	color: var(--blue);
}

@media (max-width: 767px) {
	.user_form_logo {
		width: unset;
		height: 95px;
	}
	.userForm_main {
		margin: 130px auto;
		padding: 0 16px;
		width: 100%;
		max-width: 400px;
	}
}
