* {
  box-sizing: border-box;
}

:root {
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  --blue: #3692ff;
}

html {
  font-size: 10px;
  font-family: Pretendard, sans-serif;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--gray800);
}

header {
  width: 39.6rem;
  height: 13.2rem;
  margin-bottom: 3rem;
}

header a {
  display: flex;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  margin: 1.2rem 0;
}

input {
  background-color: var(--gray100);
  border: none;
  border-radius: 12px;
  width: 64rem;
  height: 5.6rem;
}

.password-page {
  position: relative;
}

.password-repeat-page {
  position: relative;
}

.password-eye-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 1.6rem;
  right: 2.8rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.password-eye {
  width: 2.4rem;
  height: 2.4rem;
}

.login-button {
  background-color: var(--blue);
  border: none;
  border-radius: 40px;
  padding: 1.6rem 12.4rem;
  width: 64rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: var(--gray100);
  margin: 1.4rem 0;
  cursor: pointer;
}

.quick-login {
  background-color: #e6f2ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 1.6rem 2.3rem;
  margin: 1.4rem 0;
  width: 64rem;
  height: 7.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul a {
  display: flex;
}

.button {
  width: 4.2rem;
  height: 4.2rem;
  cursor: pointer;
}

footer {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 1.3rem 0;
}

footer a {
  color: var(--blue);
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .header-logo {
    width: 35rem;
    height: 8rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 40rem;
  }

  .login-button {
    width: 40rem;
  }

  .quick-login {
    width: 40rem;
  }

  .button {
    width: 4.5rem;
  }
}
