@import url(/styles/variable.css);

/* heder - hero */
.hero {
  background-color: var(--secondary-color);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-dom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 0 150px;
  min-width: 240px;
}

.hero-header {
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
  color: var(--primary-text-color);
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: var(--primary-color);
  border-radius: 9999px;
  cursor: pointer;
}

.hero-img {
  width: 100%;
  max-width: 746px;
}

/* main */
.main {
  padding: 60px 20px;
  margin: 0 auto;
}

.main-feature {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.right {
  text-align: right;
}

.main-feature img {
  width: 100%;
  max-width: 696px;
}

.feature-category {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-color);
}

.feature-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-text-color);
}

.feature-desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: var(--primary-text-color);
}

/* ---- media query ---- */
@media (max-width: 767px) {
  .hero-header .line-break {
    display: block;
  }
}

@media (min-width: 768px) {
  .main {
    width: 740px;
    margin: 0 auto;
  }

  .hero-header {
    font-size: 38px;
  }

  .hero-header .line-break {
    display: inline;
  }

  .hero-dom {
    width: 512px;
  }

  .hero-btn {
    width: 70%;
  }
}
