@import url('css/reset.css');
@import url('css/base.css');
@import url('css/home.css');
@import url('css/auth.css');

/* 
responsive CSS
desktop-first(1920이상) 큰 모니터 
breakpoint: 1919px(작은 모니터), 1199px(태블릿), 767px(모바일) (375px미만은 고려하지 않습니다.)
*/
@media (max-width: 1919px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 8px;
  }
}
