* {
    box-sizing: border-box;
}

/* 버튼 관련 */
.sign-up-button {
    width: 100%;
    height: 56px;
    border-radius: 40px;
    background-color: #3692FF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #F3F4F6;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
    border: 0px;
}

/* 전체적인 틀 */
body {
    font-family: "Pretendard Variable", Pretendard, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

container {
    margin-top: 231px;
    width: 640px;
    height: auto;
}

/* 로고관련 */
#logo > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-bottom: 40px;
}

/* 폼테그 관련 */
form {
    display: flex;
    flex-direction: column;
    color: #1F2937;
    font-size: 18px;
    font-weight: 700;
}

form > label {
    margin-bottom: 16px;
}

form > input {
    width: 100%;
    height: 56px;
    border: 0;
    background-color: #F3F4F6;
    border-radius: 12px;
    margin-bottom: 24px;
}

input::placeholder {
    font-size: 16px;
    padding: 24px;
  }

/* sns 로그인 관련 */
.sns-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #E6F2FF;
    padding: 16px 23px;
    border-radius: 8px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
}

.sns-login-image {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.sns-login-image img {
    width: 42px;
    height: 42px;
}

/* footer 관련 */
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.footer a {
    color: #3692FF;
}













