* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

header {
    width : 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

a {
    text-decoration-line: none;
    cursor: pointer;
}

.link_color {
    color:#F9FAFB
}

/*헤더 판다마켓 로그인영역*/

.header_contents {
    width: 1120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 9.5px 400px;

    @media (max-width: 1920px) {
        margin: 0px 200px;
    }
}

.header_login {
    color: #F3F4F6;
    background-color: #3692FF;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    margin-left:auto;
    width: 128px;
    min-width: 128px;
    height: 48px;
    padding: 12px 23px 12px 23px;
    border-radius: 8px;
    text-align: center;
}

/* 배너영역 */

.banner {
    background-color: #CFE5FF;
    width : 100%;
    height: 100%;
}

.banner_contents {
    height: 540px;
    padding: 200px 405px 0px 405px;
    display: flex;
    justify-content: center;
}

.banner_looking {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_text {
    width: 320px;
    /* width: 80%; */
    height: 112px;
    font-size: 40px;
    font-weight: 700;
    color: #374151;
    line-height: 56px;
    margin-bottom: 32px;
}

.looking {
    color: #F9FAFB;
    width: 357px;
    height: 56px;
    border-radius: 40px;
    padding: 16px 124px 16px 124px;
    background-color: #3692FF;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* 메인페이지 본문 영역 */

.contents {
    box-sizing: border-box;
    padding: 138px 466px 138px 466px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_in {
    box-sizing: border-box;
    width: 988px;
    flex-direction: row;
    border-radius: 12px;
    background-color: #FCFCFC;
    margin: 138px 466px;
    align-items : center;
}

/* 메인페이지 첫번째 영역 */

.first_item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items : center;
}

.items_first {
    width: 240px;
    padding-right: 24px;
    display: flex;
    flex-wrap : nowrap;
    flex-direction: column;
    justify-content: space-between; 
    margin-left: 64px;
}

.items_first_text {
    display: flex;
    flex-direction: column;
}

.items_first1 {
    color: #3692FF;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 0px 8px 0px;
}

.items_first2 {
    color: #374151;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 2%;
    margin: 0px 0px 16px 0px;
}

.items_first3 {
    color: #374151;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}

/* 메인페이지 2번째 아이템템 */

.second_item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items : center;
}

.items_second {
    text-align: right;
    display: flex;
    flex-wrap : nowrap;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 64px;
}

.items_second_text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.items_second1 {
    color: #3692FF;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 0px 8px 0px;
}

.items_second2 {
    width: 293px;
    color: #374151;
    font-size: 40px;
    font-weight: 700;
    margin: 0px 0px 8px 0px;
    letter-spacing: 0.02em;
    line-height: 140%;
}

.items_second3 {
    color: #374151;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}


/* 메인페이지 3번째 영역 */

.third_item { 
    display: flex;
    justify-content: center;
    align-items : center;
}

.items_third {
    box-sizing: border-box;
    display: flex;
    flex-wrap : nowrap;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 24px;
}

.items_third_text {
    display: flex;
    flex-direction: column;
}

.items_third1 {
    color: #3692FF;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 0px 8px 0px;
}

.items_third2 {
    color: #374151;
    font-size: 40px;
    font-weight: 700;
    margin: 0px 0px 8px 0px;
}

.items_third3 {
    color: #374151;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}


/* 메인 아래 판다 영역 */

.banner_bottom {
    width : 100%;
    box-sizing: border-box;
    height: 540px;
    background-color: #CFE5FF;
    padding-top: 143px;
    display: flex;
    justify-content: center;
}

.content_bottom {
    width : 100%;
    display: flex;
    justify-content: space-between;
}

.text_bottom {
    color: #374151;
    padding-bottom: 60px;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer */

footer {
    background-color: #111827;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
}


.footer_contents {
    width: 1120px;
    height: 20px;
    justify-content: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    margin-top: 32px;

}

.footer_logo {
    color:#9CA3AF;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin:0px;
}

.footer_FAQ {
    width: 159px;
    height: 19px;
    display: flex;
    justify-content:space-between;
    margin: 0px;
}

.footer_FAQ_rink {
    color:#E5E7EB;
    margin: 0px;
}

.footer_sns {
    width: 116px;
    height: 20px;
    display: flex;
    justify-content:space-between;
}

/* 태블릿 환경 */

@media (min-width: 768px) and (max-width: 1199px){
    .header_contents {
        width: 100%;
        margin: 0 24px;
    }
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

    }
    .banner_contents {
        width: 744px;
        height: 771px;
        display: flex;
        flex-direction: column;
        padding: 84px 0px 0px 0px;
        align-items: center;
        justify-items: center;
        justify-content: space-between;
    }
    .banner_text {
        width: 100%;
        height: 100%;
        margin-bottom: 24px;
    }

    /* 메인 아이템 (태블릿) */

    .contents {
        display: flex;
        flex-direction: column;
        margin: 24px 24px 56px 24px;
        padding: 0px;
    }
    
    .main_in {
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin-bottom: 52px;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    /* 메인 첫번째 아이템 (태블릿) */

    .first_item {
        display: flex;
        flex-direction: column;
        align-items: normal;
    }

    .items_first {
        width: 100%;
        margin: 0 auto;
        margin-top: 24px;
    }

    .items_first1 {
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        margin-bottom: 24px;
    }

    .items_first2 {
        width: 100%;
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;
    }
    
    .items_first3 {
        width: 206px;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
    }

    /* 메인 두번째 아이템 (태블릿) */

    .second_item {
        display: flex;
        flex-direction: column-reverse;
        align-items: normal;
    }

    .items_second {
        margin: 0;
        display: flex;
        padding: 0;
        margin: 24px 0px 0px 28px;
    }

    .items_second1 {
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        margin-bottom: 16px;
    }

    .items_second2 {
        width: 100%;
        font-size: 32x;
        font-weight: 700;
        line-height: 42px;
        margin-bottom: 24px;
    }
    
    .items_second3 {
        width: 216px;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
    }

    .items_second_text {
        display: flex;
        width: 100%;
        align-items: flex-end;
    }

    /* 메인 세번째 아이템 (태블릿) */

    .third_item {
        display: flex;
        flex-direction: column;
        align-items: normal;
    }

    .items_third {
        margin: 0;
        display: flex;
        padding: 0;
        margin: 24px 29px 0px 0px;
    }

    .items_third1 {
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        margin-bottom: 16px;
    }

    .items_third2 {
        width: 100%;
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;
        margin-bottom: 24px;
    }
    
    .items_third3 {
        width: 250px;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
    }

    .items_third_text {
        width: 100%;
    }

    /* 아래 판다 배너 */

    .banner_bottom {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: space-between;
        padding: 0px;
    }

    .content_bottom {
        width : 375px;
    }

    .text_bottom {
        padding: 0px;
        font-size: 40px;
        line-height: 140%;
        margin-top: 201px;
        display: flex;
        flex-direction: column;
        margin-bottom: 217px;
    }
  /* 푸터 영역 (태블릿) */

    footer {
        width: 100%;
        height: 160px;
        display: flex;
    }

    .footer_contents {
        width: 100%;
        height: 100%;
        padding: 0px;
        display: flex;
        align-content: space-between;
        padding: 32px 104px;
    }

    .footer_logo {
        color:#9CA3AF;
        font-size: 16px;
        font-weight: 400;
    }

    .footer_FAQ {
        width: 159px;
        height: 19px;
        justify-content:space-between;
        margin: 0px;
    }

    .footer_FAQ_rink {
        color:#E5E7EB;
        margin: 0px;
    }

    .footer_sns {
        width: 116px;
        height: 20px;
        display: flex;
        justify-content:space-between;
    }
}

/* 모바일 환경 */

@media (min-width: 375px) and (max-width: 767px){

    .header_contents {
        width: 100%;
        margin: 0 24px;
    }
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .banner_contents {
        width: 375px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 48px 0px 0px 0px;
        align-items: center;
        justify-items: center;
        justify-content: space-between;
    }
    
    .banner_text {
        text-align: center;
        width: 240px;
        height: 90px;
        height: 100%;
        margin-bottom: 18px;
        font-size: 32px;
        font-weight: 700;
        line-height: 140%;
    }

    .banner_looking {
        border-radius: 40px;
        padding: 12px 71px;
        margin-bottom: 132px;
    }

    .contents {
        display: flex;
        flex-direction: column;
        margin: 52px 15px;
        padding: 0px;
    }
    
    .main_in {
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 0 auto;
    }

    /* 메인 첫번째 아이템 (모바일) */
    
    .first_item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 40px;
        align-items: normal;
    }

    .items_first {
        width: 240px;
        margin: 0 auto;
        display: flex;
        align-items: baseline;
        margin: 24px 0px 0px 0px;
        padding: 0;
    }

    .items_first1 {
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
    }

    .items_first2 {
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
    
    .items_first3 {
        width: 183px;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
    }

    /* 메인 두번째 아이템 (모바일) */

    .second_item {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        margin-bottom: 40px;
        align-items: normal;
    }

    .items_second {
        margin: 0;
        display: flex;
        padding: 0;
        margin: 24px 0px 0px 28px;
    }

    .items_second1 {
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
    }

    .items_second2 {
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
    
    .items_second3 {
        width: 240px;
        font-size: 18px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.08em;
    }

    .items_second_text {
        display: flex;
        width: 100%;
        align-items: flex-end;
    }
    
    /* 메인 3번째 아이템 (모바일) */

    .third_item {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 40px;
        align-items: normal;
    }

    .items_third {
        margin: 0;
        display: flex;
        padding: 0;
        margin: 24px 29px 0px 0px;

    }

    .items_third1 {
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
    }

    .items_third2 {
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
    
    .items_third3 {
        width: 250px;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.08em;
    }

    .items_third_text {
        width: 100%;
    }

    /* 아래 판다 배너 */

    .banner_bottom {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: space-between;
        padding: 0px;
    }
    
    .content_bottom {
        width : 375px;
    }
    
    .text_bottom {
        padding: 0px;
        font-size: 32px;
        line-height: 140%;
        margin-top: 121px;
        display: flex;
        flex-direction: column;
        margin-bottom: 131px;
    }

    /* 푸터 영역 (모바일) */

    footer {
        background-color: #111827;
        width: 100%;
        height: 160px;
        display: flex;
        align-items: flex-start;
    }
    
    
    .footer_contents {
        width: 100%;
        height: 100%;
        padding: 0px;
        display: flex;
        align-content: space-between;
        padding: 32px 32px 30px 32px;
    }
    
    .footer_logo {
        color:#9CA3AF;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        margin: 0;
        margin-top: auto;
    }
    
    .footer_FAQ {
        width: 159px;
        height: 19px;
        display: block;
        justify-content:space-between;
        margin: 0px;
    }
    
    .footer_FAQ_rink {
        color:#E5E7EB;
        margin: 0px;
    }

    .footer_sns {
        width: 116px;
        height: 20px;
        display: flex;
        justify-content:space-between;
    }
}
