:root {
  --gray900: #111827;
  --gray800: #1F2937;
  --gray700: #374151;
  --gray600: #4B5563;
  --gray500: #6B7280;
  --gray400: #9CA3AF;
  --gray200: #E5E7EB;
  --gray100: #F3F4F6;
  --gray50: #F9FAFB;
  --blue: #3692FF;
}

.btn-large,
.btn-small {
  background-color: var(--blue);
  color: var(--gray100);
}

.btn-large:hover,
.btn-small:hover {
  background-color: #1967D6;
}

.btn-large:active,
.btn-small:active {
  background-color: #1251AA;
}

.btn-large {
  padding: 1rem 7.75rem;
  border-radius: 40px;
}

.btn-small {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.text-4xl {
  font-size: 2.5rem;
  line-height: 3.5rem;
  letter-spacing: -0.125rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.0625rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 2rem;
}

.text-lg {
  font-size: 1rem;
  line-height: 1.625rem;
}

.text-2lg {
  font-size: 1.125rem;
  line-height: 1.625rem;
}