* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
}

h6 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

/* 헤더 */
.header {
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    /* position: sticky;
    top: 0px; */
}

.navbar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1120px;
    margin: 0 200px;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3692FF;
    font-size: 25.63px;
    font-weight: 700;
    gap: 8px;
    white-space: nowrap
}

.logo img {
    width: 40px;
}

.login-btn {
    display: flex;
    width: 128px;
    height: 48px;
    background-color: #3692FF;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 12px 23px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    white-space: nowrap;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #1967D6;
}

.login-btn:active {
    background-color: #1251AA;
}

/* 메인 */
.main {
    background-color: #FCFCFC;
}

.top-section {
    width: 100%;
    height: 540px;
    background-color: #CFE5FF;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 7px;
}

.banner {
    display: flex;
    width: 100%;
    max-width: 1120px;
    margin: 0 200px;
    align-items: center;
}

.banner img {
    width: 746px;
}

.banner-text {
    background-color: #CFE5FF;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 60px;
}

.items-btn {
    display: flex;
    height: 56px;
    background-color: #3692FF;
    color: #FFFFFF;
    border-radius: 40px;
    padding: 16px 124px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    white-space: nowrap;
    cursor: pointer;
}

.items-btn:hover {
    background-color: #1967D6;
}

.items-btn:active {
    background-color: #1251AA;
}

.center-section {
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    padding: 138px 0;
}

.card {
    display: flex;
    align-items: center;
    width: 988px;
    background-color: #FCFCFC;
    gap: 64px;
    border-radius: 12px;
}

.card img {
    width: 579px;
    height: 444px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text-left {
    padding-left: 24px;
    text-align: right;
}

.card-text span {
    color: #3692FF;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

.bottom-section {
    margin-top: 130px;
    width: 100%;
    height: 540px;
    background-color: #CFE5FF;
    display: flex;
    justify-content: center;
    align-items: end;
}

.bottom-banner {
    gap: 69px;
}

/* 푸터 */
.footer {
    background-color: #111827;
    margin: 0 auto;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

.icons {
    color: #FFFFFF;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1120px;
    margin: 0 200px;
    font-size: 16px;
    font-weight: 400;
    align-items: start;
}

.copyright {
    color: #9CA3AF;
}

.footer-btn {
    display: flex;
    gap: 32px;
}

.footer-btn a {
    color: #E5E7EB;
    text-decoration: none;
    cursor: pointer;
}

.icons {
    display: flex;
    font-size: 20px;
    gap: 12px;
}

.icons a {
    color: #FFFFFF;
    cursor: pointer;
}

/* 로그인 페이지 */
.login-body {
    width: 640px;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

/* 로고 */
.big-logo img {
    width: 105px;
}

.big-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #3692FF;
    font-size: 66.34px;
    font-weight: 700;
    gap: 12px;
    white-space: nowrap
}

/* 로그인 영역 */
.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.login-wrapper {
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input-wrapper div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-wrapper label {
    font-size: 18px;
    font-weight: 700;
}

.input-wrapper input {
    height: 56px;
    border: none;
    background-color: #F3F4F6;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}

.login-button {
    height: 56px;
    border-radius: 40px;
    border: none;
    padding: 16px 124px;
    background-color: #3692FF;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}

/* 간편 로그인 */
.simple-login {
    background-color: #E6F2FF;
    height: 74px;
    padding: 16px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
}

.simple-login-btns {
    display: flex;
    gap: 16px;
}

.simple-login-btns img {
    width: 42px;
    cursor: pointer;
}

/* 회원가입 영역 */
.signin-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
}