.passwordToggleIcon {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translateY(-50%);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  // cursor: pointer;

  &.eyeClosed {
    background-image: url('@/assets/icons/close_eye.svg');
  }

  &.eyeOpen {
    background-image: url('@/assets/icons/open_eye.svg');
  }

  &:hover {
    background-color: transparent;
  }
}
