header {
    display: flex;
    justify-content: center;
}

.login-page {
    margin: 230px auto 24px;
}

.sign-up-page {
    margin: 60px auto 24px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.logo-img {
    height: 103px;
}

.logo-text {
    height: 62px;
}

.login-form, .sign-up-form {
    width: 640px;
    margin: 0 auto;
}

label {
    display: inline-block;
    width: 640px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

input {
    display: inline-block;
    padding: 16px 24px;
    margin: 16px auto 24px;
    width: 640px;
    border-radius: 12px;
    background-color: var(--gray100);
    font-weight: 400;
    color: var(--gray800);
}

input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--gray400);
}

.password {
    position: relative;
}

.password, .check-password {
    position: relative;
}

.show-password {
    width: 24px;
}

.password button, .check-password button {
    position: absolute;
    right: 20px;
    top: 54px;
    background-color: var(--gray100);
}

.login-button, .sign-up-button {
    display: inline-block;
    padding: 16px;
    width: 640px;
    border-radius: 40px;
    background-color: var(--gray400);
    font-weight: 600;
    color: var(--gray100);
}

.quick-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    padding: 0 23px;
    margin: 24px auto;
    border-radius: 8px;
    background-color: #E6F2FF;
}

.sns {
    display: flex;
    align-items: center;
    gap: 12px;
}

.sns img {
    width: 42px;
}

.new-member {
    display: flex;
    justify-content: center;
    gap: 4px;
    text-align: center;
    font-size: 14px;
}

.already-member {
    display: flex;
    justify-content: center;
    gap: 4px;
    text-align: center;
    font-size: 14px;
}

.sign-up {
    text-decoration: underline;
    color: var(--blue);
}

.login {
    text-decoration: underline;
    color: var(--blue);
}

.login-button:hover {
    background-color: var(--blue);
}

.sign-up-button:hover {
    background-color: var(--blue);
}

@media (max-width: 1199px) {
    .login-page {
        margin: 190px auto 24px;
    }
    
    .sign-up-page {
        margin: 48px auto 24px;
    }
}

@media (max-width: 767px) {
    .login-page {
        margin: 80px auto 24px;
    }
    
    .sign-up-page {
        margin: 24px auto 24px;
    }

    .login-form, .sign-up-form {
        max-width: 400px;
        width: 100%;
        padding: 16px;
    }

    .logo {
        gap: 12px;
    }

    .logo-img {
        height: 52px;
    }
        
    .logo-text {
        height: 30px;
    }

    label {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
    }
    
    input {
        max-width: 368px;
        width: 100%;
        margin: 4px auto 16px;
    }

    .password button, .check-password button {
        right: 12px;
        top: 40px;
    }

    .login-button, .sign-up-button {
        max-width: 368px;
        width: 100%;
        border-radius: 40px;
    }
}