/* Tablet: 1199px 까지 적용 */
@media screen and (max-width: 1199px) {
  html {
    font-size: 8px;
  }

  nav {
    padding: 0 24px;
  }

  .top-section {
    height: 771px;
  }

  .top-section-container {
    flex-direction: column;
    gap: 141px;
  }

  .top-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-section img,
  .bottom-section img {
    height: auto;
    width: 744px;
  }

  .top-section p br,
  .big-text br {
    display: none;
  }

  .main-section {
    padding: 26px;
  }

  .main-section img {
    width: 696px;
    height: auto;
  }

  .hot-item,
  .register {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .search {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 0;
  }

  .search .text-container {
    align-items: flex-end;
  }

  .search .text-container p {
    text-align: end;
  }

  .bottom-section {
    height: 927px;
    margin-top: 26px;
  }

  .bottom-section-container {
    flex-direction: column;
    gap: 160px;
  }

  .bottom-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer {
    padding: 32px 104px;
  }
}

/* Mobile: 767px 이하까지 적용 */
@media screen and (max-width: 767px) {
  html {
    font-size: 6px;
  }

  nav {
    padding: 0 16px;
  }

  .top-section {
    height: 540px;
  }

  .top-section-container {
    flex-direction: column;
    gap: 62px;
  }

  .top-section-text {
    text-align: center;
  }

  .top-section p br {
    display: inline;
  }

  .top-section-text a {
    padding: 12px 71px;
  }

  .top-section img {
    height: auto;
    width: 448px;
  }

  .bottom-section img {
    height: auto;
    width: 375px;
  }

  .main-section {
    padding: 20px;
  }

  .main-section img {
    width: 344px;
    height: auto;
  }

  .bottom-section {
    height: 540px;
    margin-top: 3.25rem;
  }

  .bottom-section-container {
    flex-direction: column;
    gap: 61px;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 32px;
  }

  .codeit {
    grid-column: 1 / -1;
    grid-row: 2;
    align-self: end;
  }

  .footer-center {
    grid-column: 1;
  }

  .footer-right {
    grid-column: 2;
    justify-self: end;
  }
}
