nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  height: 51px;
}

.login-link {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--blue100);
  border-radius: 8px;
  padding: 12px 23px;
}

.top-section,
.bottom-section {
  margin-top: 70px;
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.bottom-section {
  margin-top: 138px;
}

.top-section img {
  width: 746px;
  height: 340px;
}

.bottom-section img {
  width: 746px;
  height: 397px;
}

.top-section-container {
  display: flex;
  align-items: center;
  gap: 7px;
}

.bottom-section-container {
  display: flex;
  align-items: center;
  gap: 69px;
}

.top-section-text,
.bottom-section-text {
  padding-bottom: 60px;
}

.top-section-text p,
.bottom-section-text p {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: var(--gray700);
}

.top-section-text a {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--blue100);
  padding: 16px 124px;
  border-radius: 40px;
  margin-top: 3.2rem;
  display: inline-block;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 138px 0;
}

.hot-item,
.search,
.register {
  display: flex;
  align-items: center;
  gap: 64px;
  background-color: #fcfcfc;
  border-radius: 12px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hot-item .text-container,
.register .text-container {
  padding-right: 24px;
}

.search .text-container {
  padding-left: 24px;
}

.small-text {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: var(--blue100);
}

.big-text {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: var(--gray700);
}

.main-section p {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin-top: 1rem;
  color: var(--gray700);
}

.main-section img {
  width: 579px;
  height: 444px;
}

footer {
  background-color: var(--gray900);
  height: 160px;
  padding: 32px 400px;
  display: flex;
  justify-content: space-between;
}

.codeit {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--gray400);
}

.footer-center {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--gray200);
}

.footer-right a {
  margin-right: 12px;
}

.footer-right a:last-child {
  margin: 0;
}

.footer-right img {
  width: 20px;
  height: 20px;
}
