html {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Pretendard', sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
}

nav {
  max-width: 1520px;
  min-width: 1120px;
  width: 100%;
  padding: 9px 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 51px;
}

.login-button {
  width: 128px;
  height: 48px;
  padding: 12px 23px;
  border-radius: 8px;
  background-color: var(--blue);
  font-weight: 600;
  text-align: center;
  color: var(--gray100);
  line-height: 26px;
}

.top, .bottom {
  height: 540px;
  background-color: #CFE5FF;
}

.top {
  display: flex;
  align-items: flex-end;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  margin: 0 auto;
}

.top-img {
  height: 340px;
  vertical-align: bottom;
}

main section {
  padding: 138px 0;
}

main .container {
  display: flex;
  justify-content: center;
  gap: 48px;
  width: 988px;
  height: 444px;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #FCFCFC;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.content.right {
  text-align: right;
}

.badge {
  font-size: 18px;
  font-weight: 700;
  color: #3692FF;
  line-height: 26px;
}

.content-title {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  color: var(--gray700);
  line-height: 56px;
}

.shopping-button {
  width: 360px;
  height: 56px;
  padding: 16px 124px;
  border-radius: 40px;
  background-color: var(--blue);
  font-size: 20px;
  font-weight: 600;
  color: var(--gray50);
}

.description {
  font-size: 24px;
  font-weight: 500;
  color: var(--gray700);
  line-height: 32px;
}

.bottom {
  display: flex;
  align-items: flex-end;
}

.bottom-img {
  height: 397px;
  vertical-align: bottom;
}

footer {
  height: 160px;
  padding: 32px 0;
  background-color: var(--gray900);
}

footer .container{
  max-width: 1520px;
  min-width: 1120px;
  width: 100%;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
}

footer .codeit {
  color: var(--gray400);
}

footer .link {
  display: flex;
  gap: 30px;
}

footer .link a {
  text-decoration: none;
  color: var(--gray200);
}

footer .sns {
  margin: 0;
  display: flex;
  gap: 12px;
}

footer .sns img {
  height: 20px;
}

.login-button:hover,
.shopping-button:hover {
  background-color: var(--bluehover);
}

.login-button:active,
.shopping-button:active {
  background-color: var(--blueactive);
}