/* top banner */
.home-top-banner {
  width: 100%;
  padding-top: 12.5rem;

  background-color: var(--blue100);
}

.home-top-banner > div {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.banner-content {
  width: 22.3rem;
  flex-shrink: 0;
}

.banner-title,
.section-title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: var(--gray700);
  flex-shrink: 0;
}

.banner-title > span {
  display: inline-block;
}

.btn-explore {
  width: 100%;
  border-radius: 2.5rem;
  padding: 1rem 7.75rem;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--blue);
  color: var(--white);

  cursor: pointer;
}

.image-top-banner {
  width: 46.625rem;
  height: auto;

  flex-shrink: 0;
}

/* bottom banner */
.bottom-banner {
  width: 100%;
  padding-top: 9rem;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-color: var(--blue100);
}

.bottom-banner > div {
  display: flex;
  align-items: center;
}

.image-bottom-banner {
  width: 46.625rem;
  height: auto;

  flex-shrink: 0;
}
