header {
  width: 100%;
  padding: 0.625rem 12.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 100;

  background-color: var(--white);
}

.image-logo {
  width: 9.5rem;
  flex-shrink: 0;

  cursor: pointer;
}

.btn-login {
  width: 8rem;
  height: 3rem;

  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.5rem;
  background-color: var(--blue);

  font-weight: 600;
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--white);

  cursor: pointer;
}
