section {
  width: 100%;
  margin-bottom: 8.625rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-hot-item,
.section-search,
.section-register {
  width: 61.75rem;
  height: 27.75rem;

  margin: 8.625rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  border-radius: 0.75rem;
  background-color: #fcfcfc;
}

.right {
  text-align: right;
}

section img {
  width: 36.1875rem;
  height: 27.75rem;
  border-radius: 0;
}

.section-badge {
  margin-bottom: 0.75rem;

  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: var(--blue);
}

.section-title > span {
  display: inline-block;
}

.section-content {
  margin-top: 1.5rem;

  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--gray700);
}
