.allProductsSection {
  margin-bottom: 40px;

  h2 {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
}

.allProductsGrid {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(5, 1fr);

  @media (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ----------------------------------------
  검색 + 정렬 영역
---------------------------------------- */

.allProductsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  .searchAndSort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 16px;

    input {
      min-width: 325px;
      padding: 12px 20px 12px 36px;
      background-color: var(--secondary-100);
      border-radius: 12px;
      background-image: url('@/assets/icons/search.svg');
      background-repeat: no-repeat;
      background-position: 16px center;
      background-size: 15px 15px;
    }

    .linkButton {
      padding: 12px 23px;
      border-radius: 8px;
    }
  }
}
