html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: auto;
    height: 132px;
    margin: 0 122px;
}

.input-info {
    margin-top: 40px;
}

.input-group {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.input-group, .login-btn {
    margin-bottom: 24px;
}

.auth-input {
    width: 640px;
    height: 56px;
    margin-top: 16px;
    border: none;
    border-radius: 12px;
    gap: 10px;
    background-color: var(--gray100);
    font-size: 16px;
    font-weight: 400;
    color: var(--gray800);
    padding: 16px 24px 14px; 
}

.auth-input::placeholder {
    color: var(--gray400);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
}

.password {
    display: flex;
    position: relative;
    width:100%;
}

.pwd-icon-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 32px;
}

.pwd-icon {
    width: 100%;
    height: 100%;
}

.submit-btn button {
    color: var(--gray100);
    background-color: var(--blue);
    width: 640px;
    height: 56px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    border-radius: 40px;
    margin-bottom: 24px;
}

.sign-easy {
    display: flex; 
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 16px 23px;
    gap: 10px;
    width: 640px;
    height: 74px;
    background: #E6F2FF; /* 배경색 */
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
    color: var(--gray800);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
}

.sign-easy div {
    display: flex;
    gap: 16px;
}

.icon {
    width: 42px;
    height: 42px;
}


.move-page {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    gap: 4px;
    color: var(--gray800);
}

.move-page a {
    color: var(--blue);
    text-decoration: underline;
}


@media (max-width: 1199px) and (min-width: 768px) {
    body {
        margin: 190px 52px 325px;
    }
}

@media (max-width: 767px) {
    .logo-a {
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 198px;
        height: 66px;
    }
    
    main {
        width: 100%;
        max-width: 400px;
        min-width: 343px;
        margin: 0 auto;
    }

    .auth-input {
        width: 100%;
    }

    .submit-btn button {
        width: 100%;
    }

    .sign-easy {
        width: 100%;
    }
    
    .pwd-icon-btn {
        right: 16px;
    }
  
}