@import "../../styles/variables.scss";

.items {
  display: flex;
  gap: 24px;
}
.title {
  @include font-20-bold;
  display: block;
  margin-top: 24px;
}
.bestItems {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
}
