.productCard {
  background-color: var(--secondary-300);
  border-radius: 16px;
  overflow: hidden;

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .productInfo {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;

    h5 {
      font-weight: 500;
      color: var(--secondary-800);
    }

    p {
      font-size: 1.6rem;
      font-weight: 700;
      color: var(--secondary-800);
    }

    .favoriteCount {
      display: flex;

      .heartIcon {
        width: 1.6rem;
        height: 1.6rem;
        object-fit: contain;
        margin-right: 4px;
      }

      .count {
        font-size: 1.2rem;
        color: var(--secondary-600);
      }
    }
  }
}
