.auth-page {
  padding-block: 230px;
}
.auth-page .inner03 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.auth-logo {
  display: block;
  margin-bottom: 40px;
  width: 386px;
  margin-inline: auto;
}
.auth-logo img {
  width: 100%;
}


@media all and (max-width: 640px) {
  .auth-page {
    padding-block: 35.94vw;
  }
  .auth-logo {
    margin-bottom: 8.59vw;
    width: 61.88vw;
  }
  .auth-page .inner03 {
    gap: 5vw;
  }
}
