@charset "utf-8";
@import url("reset.css");
/* @import url("fonts.css"); */
/* -----------------------------------------------
[COMMON] 공통 변수
------------------------------------------------- */
:root {
/* 배경색상 */
--bg1:#fff;
--bg2:#FCFCFC;
--bg3:#f7f7f7;
--bg4:var(--primary100);
--bg4_hover:var(--primary200);
--bg4_act:var(--primary300);
--coolGray:#CFE5FF;
--bg6:#111827;
--bg-disable:#d4d4d4;
/* gray 색상 */
--gray50:#F9FAFB;
--gray100:#F3F4F6;
--gray200:#E5E7EB;
--gray400:#9CA3AF;
--gray500:#6B7280;
--gray600:#4B5563;
--gray700:#374151;
--gray800:#1F2937;
--gray900:#111827;
/* 포인트 색상 */
--primary100:#3692FF;
--primary200:#1967D6;
--primary300:#1251AA;
--point4:#97054e;
/* 폰트사이즈 */
--font_b_38:700 3.8rem/1.2 "Pretendard";
--font_b_18:700 1.8rem/1 "Pretendard";
--font_r_22:600 2.2rem / 1.4 "Pretendard";
--font_sb_20:700 2.0rem/1 "Pretendard";
--font_sb_16:500 1.6rem/1 "Pretendard";
--font_a_16:400 1.6rem/1 "Abel";
--font_r_14:400 1.6/1 "Pretendard";
/* line */
--line3:#9CA3AF;
}
/* -----------------------------------------------
[COMMON] 공통
------------------------------------------------- */
/* skip nav */
.skipNav {background:#000; position:fixed; top:0; left:0; width:100%; height:3rem; transform:translateY(-100%); transition:transform 0.3s;z-index:999;color:#fff;line-height:3.0rem;text-align:center;}
.skipNav:focus {transform:translateY(0%);}
/* link */
a.link { display: inline-block; color: var(--gray700); padding-left: 0.8rem;}
a.link:hover { text-decoration: underline; color: var(--primary100);}
a.link_point { display: inline-block; text-decoration: underline;color: var(--primary100); padding-left: 0.8rem;}
a.link_point:hover { text-decoration: underline; color: var(--primary100);}
.hidden {border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0;position:absolute; width:1px;}
.none {display:none;}
.txt_center { text-align: center; }

/* -----------------------------------------------
	[CONTENT] 버튼유형
------------------------------------------------- */
a[class*="btn"] { display: inline-block; color: var(--gray50); background-color: var(--bg4); font: var(--font_sb_16) }
 [class*="btn_"]:disabled { background-color: var(--bg-disable); color: #fff; }
.inner { display: flex; justify-content: space-between; width: 100%; max-width: 112rem; min-width: 32rem; margin: 0 auto; }
a[class*="btn"]:hover{ background-color: var(--primary200); }
a[class*="btn"]:active { background-color: var(--primary300); }
button[class*="btn_"]:hover{ background-color: var(--primary200); }
button[class*="btn_"]:active { background-color: var(--primary300); }
button[type=button]:hover { background-color: transparent;}
/* -----------------------------------------------
	[CONTENT] 폼객체
------------------------------------------------- */
/* 오류메세지 */
.validation {margin-top:0.5rem;font:var(--font_m_12);color:var(--primary300);word-break:keep-all;}
/* 입력박스 */
input[type=text], 
input[type=password], 
input[type=email] {padding:0 1.4rem;width:100%;height:5.6rem;border-radius:1.2rem;border:1px solid var(--bg3);font:var(--font_r_14);color:var(--gray700); background-color: var(--bg3);}
input[type=text][aria-invalid="true"], 
input[type=password][aria-invalid="true"], 
input[type=email][aria-invalid="true"] {border-color:var(--primary300);}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder {font:var(--font_r_14);color:var(--gray400);text-align:left;}
input[type=text]:disabled,
input[type=password]:disabled,
input[type=email]:disabled{background-color:var(--bg-disable);border-color:var(--gray50);color:var(--gray700);}
input[type=text]:focus-within, 
input[type=password]:focus-within,
input[type=email]:focus-within {outline: 2px; border-color:var(--primary100)}
input[type=password]:focus + .toggle-password { opacity: 1; transition:all ease-in .4s;}
input[type=password]:focus-within + .toggle-password { opacity: 1; transition:all ease-in .4s;}
.inp_txt {display:flex;align-items:center;padding:0 0.9rem 0 1.4rem;width:100%;height:4.5rem;border-radius:0.5rem;border:1px solid var(--line3);font:var(--font_r_14);color:var(--gray50);}
.inp_txt > input {flex:1;padding:0;border:0;height:4.3rem;}
.inp_txt > input:focus-within {outline:none;}
.inp_txt > input:placeholder-shown + .btn_del {display:none;}
.inp_txt > input:disabled {background-color:#fff;border-color:var(--line3);color:var(--gray50);}
.inp_txt > .btn_del {margin-right:-0.4rem;}
.inp_txt > .util {font:var(--font_b_17);color:var(--primary100);padding-left:0.5rem;}
.inp_txt > .util2 {font:var(--font_r_14);color:var(--gray700);}
.inp_txt > .link_t1 {margin:0 -0.5rem}
.inp_txt > .inp_ty {flex:1;text-align:right;font:var(--font_roboto_15);}
.inp_txt:focus-within {outline:0;border-color:var(--line4);}