.wrapper {
  position: relative;
  font-size: 16px;
  min-width: 140px;
}

.selectButton {
  width: 100%;
  padding: 1.2rem 2rem;
  border: 1px solid var(--secondary-200);
  border-radius: 12px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  &:hover,
  &:focus,
  &:active {
    background-color: var(--white);
    color: inherit;
  }

  .arrow {
    width: 1.6rem;
    aspect-ratio: 1 / 1;
    background: url('@/assets/icons/arrow_down.svg') no-repeat center / contain;
  }
}

.optionList {
  position: absolute;
  top: calc(100% + 8px);
  width: 100%;
  font-size: 1.6rem;
  background: var(--white);
  border: 1px solid var(--secondary-200);
  border-radius: 12px;
  overflow: hidden;
}

.option {
  cursor: pointer;
  padding: 1rem 0;
  text-align: center;
  border-bottom: 1px solid var(--secondary-200);
  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: var(--secondary-100);
  }
}

@media (max-width: 767px) {
  .wrapper {
    min-width: auto;
    width: fit-content;
  }

  .sortIcon {
    width: 42px;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    border: 1px solid var(--secondary-200);
    border-radius: 12px;
    padding: 0.9rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--white);
      color: inherit;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .optionList {
    width: 14rem;
    top: calc(100% + 8px);
    right: 0;
    border-radius: 12px;
    overflow: hidden;
  }
}
