.btn {
  justify-items: center;
  align-content: center;
  width: 64px;
  height: 64px;
  border-radius: 9999px;
}

.btn.plus {
  background-color: var(--slate200);
}

.btn.edit {
  border: 2px solid var(--slate900);
  background-color: rgb(from var(--slate900) r g b / 0.5);
}

.btn img {
  display: block;
}
