html {
  font-size: 10px; /* 1rem = 10px */
}

body {
  font-size: 1rem;
  font-family: 'Pretendard', sans-serif;
  color: var(--black);
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

h2 {
  font-size: 3.2rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  line-height: 1.7;
}

ul,
ol {
  font-size: 1rem;
}

a {
  cursor: pointer;
}

button {
  background-color: var(--primary-100);
  color: var(--white);
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: var(--primary-200);
}

button:active {
  background-color: var(--primary-300);
}

button:disabled {
  background-color: var(--secondary-400);
  cursor: not-allowed;
}

@media (max-width: 1919px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 8px;
  }
}
