html {
  font-size: 10px; /* 1rem = 10px */
  word-break: keep-all;
}

body {
  font-size: 1rem;
  font-family: 'Pretendard', sans-serif;
  background-color: var(--secondary-300);
  color: var(--secondary-800);
}

ul,
ol {
  font-size: 1rem;
}

a,
select {
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

@media (max-width: 1919px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 8px;
  }
}
