.wrapper {
  position: relative;
  font-size: 16px;

  &--textMode {
    min-width: 140px;
  }
  &--iconMode {
    width: fit-content;
  }
}

.textMode {
  width: 100%;
  padding: 1.2rem 2rem;
  border: 1px solid var(--secondary-200);
  border-radius: 12px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  &:hover,
  &:focus,
  &:active {
    background-color: var(--white);
    color: inherit;
  }

  .arrow {
    width: 1.6rem;
    aspect-ratio: 1 / 1;
    background: url('@/assets/icons/arrow_down.svg') no-repeat center / contain;
  }
}

.iconMode {
  aspect-ratio: 1 / 1;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.optionList {
  position: absolute;
  font-size: 1.6rem;
  background: var(--white);
  border: 1px solid var(--secondary-200);
  overflow: hidden;
}

.option {
  cursor: pointer;
  padding: 1rem 0;
  text-align: center;
  border-bottom: 1px solid var(--secondary-200);
  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: var(--secondary-100);
  }

  button {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .wrapper {
    min-width: auto;
    width: fit-content;
  }
}
