.input-field {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.input-field__label {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  width: 100%;
}

.input-field__input {
  width: 100%;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;
  color: #9ca3af;
  resize: none;
  line-height: 26px;
}

.input-field textarea.input-field__input {
  min-height: 282px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
}

.tag-item {
  background-color: #f3f4f6;
  color: #1f2937;
  padding: 8px 12px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.tag-item .tag-remove {
  background: #9ca3af;
  color: #fff;
  border: none;
  border-radius: 50%;
  margin-left: 8px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
