.header-container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7rem;
  padding: 1rem 20rem 0.9rem;
  background-color: #ffffff;
  border-bottom: 1px solid var(--secondary-350);
}

.nav {
  display: flex;
  gap: 3.2rem;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 0.859rem;
  width: 15.3rem;
}

.logo,
.logoText {
  object-fit: contain;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-text-freebord,
.nav-text-market {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--secondary-600);
}

.nav-text-market.active {
  color: #3692ff; /* "/items"일 때 색상 */
}

.loginState {
  cursor: pointer;
}
