header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 70px;
  padding: 9px 0;
  a {
    height: 100%;
  }
  img {
    height: 100%;
  }
  #login {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0.5rem 2.5rem;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    background-color: #3692ff;
    cursor: pointer;
  }
}

@media (max-width: 1920px) {
  nav {
    justify-content: space-between;
    width: calc(100% - 400px);
  }
}

@media (max-width: 1199px) {
  nav {
    justify-content: space-between;
    width: calc(100% - 48px);
  }
}

@media (max-width: 767px) and (min-width: 375px) {
  nav {
    width: calc(100% - 16px);
  }
}
