.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  .submitButton {
    padding: 8px 23px;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 400;
  }
}
