.add-item {
  display: flex;
  flex-direction: column;
  margin: 24px auto 69px;
  max-width: 1200px;
  gap: 24px;
}

.add-item .register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.add-item .register button {
  padding: 12px 23px;
  background-color: var(--blue100);
  color: var(--gray100);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}

.add-item .register button:disabled {
  background-color: var(--gray400);
  cursor: not-allowed;
}

.add-item .register button:not(:disabled):hover {
  background-color: var(--blue200);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: translateY(2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.add-item .info-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.add-item .info-section.size-down {
  gap: 24px;
}

.add-item .image-section,
.add-item .name-section,
.add-item .description-section,
.add-item .price-section,
.add-item .tag-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-item .upload-section {
  display: flex;
  gap: 24px;
}

.add-item .upload-button {
  width: 282px;
  height: 282px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--gray200);
  cursor: pointer;
}

.add-item .image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.add-item .image-upload span {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--gray400);
}

.add-item .image-uploaded {
  width: 282px;
  height: 282px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.add-item .image-uploaded img {
  width: 100%;
  height: 100%;
}

.add-item .image-uploaded .delete-button {
  position: absolute;
  top: 12px;
  right: 12px;
}

.add-item .name-input,
.add-item .description-input,
.add-item .price-input,
.add-item .tag-input {
  height: 56px;
  padding: 16px 24px;
  border-radius: 12px;
  border: none;
  background-color: var(--gray100);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.add-item .description-input {
  height: 282px;
  resize: none;
  letter-spacing: -0.7px; /* textarea와 input의 간격 차이 때문에 추가 */
}

.add-item .show-tag {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.add-item .tag-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.add-item .tag-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 6px 12px;
  background-color: var(--gray100);
  border-radius: 26px;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
}

.add-item .delete-button {
  background-image: url(../../assets/images/button_x.svg);
  width: 20px;
  height: 20px;
  border: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.add-item .error-message {
  color: var(--red);
  font-size: 16px;
  font-weight: 400;
}

.add-item .hidden {
  display: none;
}

@media (max-width: 1248px) {
  .add-item {
    margin: 24px 24px 69px;
  }
}

@media (max-width: 1199px) {
  .add-item {
    margin: 16px 24px;
  }

  .add-item .info-section {
    gap: 24px;
  }

  .add-item .upload-section {
    gap: 10px;
  }

  .add-item .upload-button,
  .add-item .image-uploaded {
    width: 168px;
    height: 168px;
  }
}

@media (max-width: 767px) {
  .add-item {
    margin: 24px 16px;
  }
}
