.errorInput {
  border: 1px solid var(--error);
}

.validationErrorMessage {
  color: var(--error);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  display: none;

  &.active {
    display: block;
    padding: 0.8rem 1.6rem;
  }
}

.passwordInput {
  position: relative;
}
