.itemsPage {
  section {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 768px) {
  .itemsPage {
    section {
      &:not(:last-child) {
        margin-bottom: 5.38vw;
      }
    }
  }
}

@media (max-width: 425px) {
  .itemsPage {
    section {
      &:not(:last-child) {
        margin-bottom: 6.4vw;
      }
    }
  }
 
}
