.addItemImage {
  display: flex;
  gap: 24px;
  input[type='file'] {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
  }
  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: var(--gray100);
    border-radius: 12px;
    width: 282px;
    aspect-ratio: 1/1;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62;
    color: var(--gray400);
    img {
      width: 48px;
      height: 48px;
    }
  }
  .addItemImagePreview {
    position: relative;
    width: 282px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 12px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    button {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 24px;
      height: 24px;
    }
  }
}
.addItemImageAlert {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
  color: var(--red);
  margin-top: 16px;
  display: block;
}
@media (max-width: 768px) {
  .addItemImage {
    gap: 1.3vw;
    label {
      gap: 1.56vw;
      border-radius: 1.56vw;
      width: 21.88vw;
      font-size: 2.08vw;
    }
    .addItemImagePreview {
      width: 21.88vw;
      border-radius: 1.56vw;
      button {
        top: 1.56vw;
        right: 1.56vw;
        width: 3.13vw;
        height: 3.13vw;
      }
    }
    label {
      img {
        width: 6.25vw;
        height: 6.25vw;
      }
    }
  }
  .addItemImageAlert {
    font-size: 2.08vw;
    margin-top: 2.08vw;
  }
}
@media (max-width: 425px) {
  .addItemImage {
    gap: 3.29vw;
    label {
      gap: 2.82vw;
      border-radius: 2.82vw;
      width: 39.53vw;
      font-size: 3.76vw;
    }
    .addItemImagePreview {
      width: 39.53vw;
      border-radius: 2.82vw;
      button {
        top: 2.82vw;
        right: 2.82vw;
        width: 5.65vw;
        height: 5.65vw;
      }
    }
    label {
      img {
        width: 11.29vw;
        height: 11.29vw;
      }
    }
  }
  .addItemImageAlert {
    font-size: 3.76vw;
    margin-top: 3.76vw;
  }
}
