.addItemList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 24px;
}

@media (max-width: 768px) {
  .addItemList {
    gap: 3.13vw;
    margin-top: 3.13vw;
  }
}

@media (max-width: 425px) {
  .addItemList {
    gap: 5.65vw;
    margin-top: 5.65vw;
  }
}
