@import url(/styles/reset.css);
@import url("/styles/unsupportedScreen.css");

:root {
  --blue: #3692ff;
  --blue100: #cfe5ff;
  --white: #ffffff;
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray300: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
}

body {
  background-color: var(--white);
  font-family: "Pretendard";
}

* {
  transition: all 300ms ease-in-out;
}

button {
  cursor: pointer;
}
