@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css");

html {
  font-family: "NanumSquare";
}

:root {
  --slate900: #0f172a;
  --slate800: #1e293b;
  --slate500: #64748b;
  --slate400: #94a3b8;
  --slate300: #cbd5e1;
  --slate200: #e2e8f0;
  --slate100: #f1f5f9;
  --slate50: #f8fafc;
  --gray50: #f9fafb;
  --violet600: #7c3aed;
  --violet200: #ddd6fe;
  --violet100: #ede9fe;
  --rose500: #f43f5e;
  --lime300: #bef264;
  --amber800: #92400e;
  --amber200: #fde68a;
}
