.home {
  main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    margin: 24px auto;
  }

  main > form {
    display: flex;
    gap: 16px;
    width: 100%;
  }

  main > form .search {
    flex: 1;
  }

  main > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  main > div section {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  main > div section .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 48px auto;
    color: var(--slate400);
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
}
