body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 100%;
}
.login_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.logo_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 231px;
}
.input_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.email_password {
  font-weight: 700;
  color: #1f2937;
  left: 0px;
}
.email_password_input {
  width: 100%;
  background-color: #f3f4f6;
  border-radius: 12px;
  height: 56px;
  margin: 0;
  border: none;
}
form {
  width: 100%;
}
.login_button {
  width: 100%;
  height: 56px;
  border-radius: 40px;
  background-color: #3692ff;
  color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  border: none;
  font-size: 20px;
}
#easy_login {
  width: 100%;
  height: 74px;
  display: flex;
  background-color: #e6f2ff;
  border-radius: 8px;
  margin-bottom: 24px;
}
.easy_login {
  color: #1f2937;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  left: 0px;
}
.easy_login_box {
  margin: 16px 23px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.login_sns {
  display: flex;
}
.login_google {
  width: 42px;
  height: 42px;
  margin-right: 16px;
}
.login_kakao {
  width: 42px;
  height: 42px;
}
.signup {
  display: flex;
}
.signup_ask {
  font-weight: 500;
  font-size: 14px;
  color: #1f2937;
  margin: 0;
}
.signup_link {
  font-weight: 500;
  font-size: 14px;
  color: #3692ff;
}
@media (min-width: 1200px) {
  .logo {
    width: 396px;
    height: 132px;
    margin-bottom: 40px;
  }
  .logo_box {
    margin: 231px;
    width: 640px;
  }
  .email_password {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
  }
  .input_wrapper {
    margin-bottom: 24px;
  }
}
@media (max-width: 1200px) {
  .logo {
    width: 396px;
    height: 132px;
    margin-bottom: 24px;
  }
  .logo_box {
    margin: 80px 16px;
    width: 640px;
  }
  .input_wrapper {
    margin-bottom: 24px;
  }
  .email_password {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 198px;
    height: 66px;
    margin-bottom: 40px;
  }
  .logo_box {
    margin-top: 80px;
  }
  .email_password {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .input_wrapper {
    margin-bottom: 16px;
  }
}
