@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("./color.css");
@import url("./global.css");

main {
  width: 64rem;
  margin: 9rem auto;
  display: flex;
  flex-direction: column;
}
main header:first-child {
  display: flex;
  justify-content: center;
}
header a {
  text-align: center;
}
header img {
  width: 50%;
}

.sns_icon {
  width: 4.2rem;
}

form input {
  border: none;
  background-color: var(--gray100);
  width: 100%;
  height: 5.6rem;
  border-radius: 1.2rem;
  padding: 1.6rem 2.4rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 400;
}

form label {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.nickname_label {
  margin-top: 2.4rem;
}
.primary_btn {
  width: 100%;
  text-align: center;
  display: block;
  background-color: var(--blue);
  color: #ffffff;
  padding: 1.2rem 0;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 9999rem;
  margin: 2.4rem 0;
}

.primary_btn:hover {
  cursor: pointer;
  background-color: var(--btn-hover);
}

.primary_btn:active {
  cursor: pointer;
  background-color: var(--btn-active);
}
.pw_area {
  margin-top: 2.4rem;
  position: relative;
}
.visible_icon {
  background-image: url(../img/btn_visibility_off.svg);
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  right: 2.4rem;
  bottom: 1.4rem;
}
.sns_login {
  background-color: #e6f2ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 0.8rem;
}

.sns_login > ul {
  display: flex;
  gap: 1.4rem;
}

.go_joinpage {
  text-align: center;
  margin: 2.4rem 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.go_joinpage a {
  text-decoration: underline;
  color: var(--blue);
}
@media (min-width: 744px) {
}
