@import url("./color.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("./global.css");

button {
  background-color: var(--blue);
}
button:hover {
  cursor: pointer;
  background-color: var(--btn-hover);
}
button:active {
  background-color: var(--btn-active);
}
header {
  padding: 1.28rem;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
}
nav {
  width: calc(100% - 200px);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav img {
  width: 12.8rem;
}

nav > button {
  padding: 1.28rem 3.2rem;
  border-radius: 8px;
  background: var(--blue);
  font-size: 1.6rem;
}
nav > button > a {
  color: #ffffff;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6.4rem;
}
.banner {
  background-color: #cfe5ff;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16rem 0 0;
}

.banner h1 {
  letter-spacing: -0.16rem;
  font-size: 4rem;
}
.banner img {
  width: 50%;
}
#banner-content {
  position: relative;
  bottom: -6.4rem;
}
.banner h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
}
.banner button {
  margin-top: 4.4rem;
  padding: 1.28rem 9.6rem;
  border-radius: 999px;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
}
.banner > div > button > a {
  color: #ffffff;
  font-weight: 300;
}
.card-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 16rem 0 15em;
}
.card {
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: #fcfcfc;
  flex-grow: 1;
  gap: 16rem;
}

.card-title {
  font-size: 1.76rem;
  color: var(--blue);
  font-weight: 700;
}

.card h2 {
  margin: 0.32rem 0;
  line-height: 1.4;
  text-align: left;
  font-size: 4rem;
  font-weight: 700;
}
.card-box:nth-child(2),
.card-box:nth-child(2) h2 {
  text-align: right;
}

.card p {
  color: var(--gray700);
  line-height: 1.4;
}
.card > img {
  width: 25%;
}
footer {
  background-color: var(--gray900);
  width: 100%;
  height: 11.875em;
  display: flex;
  justify-content: space-around;
  padding: 2.4rem;
  box-sizing: border-box;
}

footer > ul {
  display: flex;
}

.copyright {
  color: var(--gray400);
}
.info:nth-child(2n) {
  margin: 0 1.28rem;
}
.info a {
  color: var(--gray200);
}

.sns {
  padding: 0 0.2em;
  width: 50%;
}
