.footer {
  margin: 0 auto;
  background-color: var(--secondary-900);
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  min-height: 16rem;
  height: auto;
}

.footerContent {
  max-width: 90rem;
  width: 100%;
  padding: 0 2rem;
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  font-size: 1.6rem;
  justify-self: start;
}

.privacy {
  justify-self: end;
}

.faq {
  justify-self: center;
}

.socialMedia {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-self: end;
}

@media (max-width: 1199px) {
  .footerContent {
    max-width: 60rem;
  }
}

@media (max-width: 767px) {
  .footerContent {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.6fr;
    grid-template-areas:
      'privacy faq social'
      'copyright copyright copyright';
  }

  .privacy {
    grid-area: privacy;
    justify-self: start;
  }

  .faq {
    grid-area: faq;
    justify-self: center;
  }

  .social-media {
    grid-area: social;
  }

  .copyright {
    grid-area: copyright;
  }
}
